.repo-container {
  display: flex;
  flex-direction: column;
}

.search-repo-box {
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.view-repo-box {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}
